$primary: #032174;
$secondary: #14B1AB;
$danger: #fc5e5e;
$success: #3ef156;
$warning: #def848;
$info: #6afdd8;

$body-bg: #ffffff;

// Minimun Screen Size
@media only screen and (max-width: 576px){}

// sm screen size
@media only screen and (min-width: 576px){}

// md screen size
@media only screen and (min-width: 768px){}

//lg screen size
@media only screen and (min-width: 992px){}

// x1 screen size
@media only screen and (min-width: 1200px){}

// xx1 screen size
@media only screen and (min-width: 1400px){}

// all screen sizes
.bg-light-tint{
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
}

.bubble-box{
  border: 1px solid $primary;
  border-radius: 10%/40%;
}

@import "bootstrap";